{% load staticfiles%}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/youtubify.css' %}">
<link href="https://fonts.googleapis.com/css?family=Monoton|Roboto&display=swap" rel="stylesheet">

<a href="{% url 'users_list' %}"><img src="https://i.imgur.com/Qx4b03m.png" alt="Over the Rabbit Hole Logo of woman in an apron free falling over the name of the app."></a>

<h2>Have you ever wished to enjoy your favorite videos without the overstimulation typically encountered on YouTube? Keep track of your favorite videos here!</h2>
    
<p>We've all done it: we look up a video to get a song out of our heads, or looked up yoga videos for a specific ailment, and find ourselves 2 hours later asking ourselves, "Was Avril Lavigne replaced by a woman named Melissa?" We have no idea how we got to this conspiracy video, we just know we haven't moved in 2 hours.</p>

<h2><span class="title">Over the Rabbit Hole</span> is here to solve that.</h2>

<p>Build your own personal MTV, HGTV, or whatever channel you see fit, right here. Keep track of your favorite workouts, hair tutorials, auto repairs, and more without the unwanted distractions!</p>

<h2>How It Works</h2>

<p>When you find a video you like, Click <span>Share</span>, copy the link that comes up, and paste into <span class="title">Over the Rabbit Hole</span>. Check out the sample video below on how to copy the individual link.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vKqAH46_gi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<a href="{% url 'users_list' %}">Take Me Home</a>