<!-- {% load staticfiles %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtubify</title>
    
</head>
<body>
    <h1>Over the Rabbit Hole</h1>
    <h3>Enjoy playlists without the temptation of rabbit holes!</h3>
    <p>Have you ever wished to enjoy your favorite videos without the overstimulation typically encountered on YouTube? Build your personal playlists here! <br></br> When you find a video you like, Click <span>Share</span>, copy the link that comes up, and paste into <span>Over the Rabbit Hole</span>.</p>
        <nav>
            <div class="user-info">
                {% if user.is_authenticated %} You are currently signed in as: {{ user.username }}
                <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
            <a href="{% url 'videos_list' %}">Browse All Videos</a>
        </nav>
        {% block content %}
        {% endblock %}
</body>
</html>