{% load embed_video_tags %}
<h2>{{ user.username }}'s Playlist</h2>
<p>About: {{ user.profile }}</p>

<h4>Videos (<a href="{% url 'video_create' %}">+</a>)</h4>

  {% for video in user.videos.all %}
  <p>"{{ video.song }}" by {{ video.artist }}</p>
  {% video video.video_url '400x267' %}
  <br></br>

  {% endfor %}


<span class="lowerLinks">
<a href="{% url 'user_edit' pk=user.pk %}">Edit user</a><br></br>
<a href="{% url 'user_delete' pk=user.pk %}">Delete User</a> <br></br>
<a href="{% url 'users_list' %}">Take Me Home</a>
</span>