{% load embed_video_tags %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/youtubify.css' %}">
<link href="https://fonts.googleapis.com/css?family=Monoton|Roboto&display=swap" rel="stylesheet">

<a href="{% url 'users_list' %}"><img src="https://i.imgur.com/Qx4b03m.png" height="194.5" width="350" alt="Over the Rabbit Hole Logo of woman in an apron free falling over the name of the app."></a>

<h2>{{ user.username }}'s Playlist</h2>
<p>About: {{ user.profile }}</p>

<h3>Videos (<a href="{% url 'video_create' %}">+</a>)</h3>
<center>
  {% for video in user.videos.all %}
  <a href="{% url 'video_detail' pk=video.pk %}">"{{ video.song }}" by {{ video.artist }}</a><br></br>
  {% video video.video_url '500x334' %}
  <br></br>

  {% endfor %}


<div class="lowbuttons">
<button type="button"><a href="{% url 'user_edit' pk=user.pk %}">Edit user</a></button>
<button type="button"><a href="{% url 'user_delete' pk=user.pk %}">Delete User</a></button>
<button type="button"><a href="{% url 'users_list' %}">Take Me Home</a></button>
</div>
</center>