{% extends 'youtubify/base.html' %} 
{% load socialaccount %}
{% providers_media_js %}

{% block content %} 
{% if form.errors %}
<p>Have you signed up yet? If not, please do. Otherwise, your username and password do not match. Please try again.</p>
{% endif %}

<h1>Log In</h1>
{% if next %}
    <p>You must log in to see this page.</p>
{% endif %}
<button type="button"><a href="{% provider_login_url 'google' %}">Log In with Google</a></button>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %} 
  {{form.as_p}}

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}