/* font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive; */
body {

    background-color: #FAE9D6;
}

body::after {
    content: "";
    background: url("https://www5.lunapic.com/editor/working/157384084882590950?81883");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
  }

h1 {
    font-family: 'Monoton', cursive;
    color: #DB7D58;
}

h2, h3, p {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #5A609F;
}

.username {
    font-weight: 900;
    color: #DB7D58
}

button {
    color: #5A609F;
    background-color: #FAE9D6;
    border: 2px solid #5A609F;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(90,96,159,0.2), 0 6px 20px 0 rgba(90,96,159,0.19);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}