/* font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive; */

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FAE9D6;
}

h1 {
    font-family: 'Monoton', cursive;
    color: #DB7D58;
}

h2, h3, p {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #5A609F;
}