/* font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive; */
body {

    background-color: #FAE9D6;
}
h1 {
    font-family: 'Monoton', cursive;
    color: #DB7D58;
}

h2, h3, p {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #5A609F;
}

.username {
    color: #DB7D58;
    font-weight: bold;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DB7D58;
  }

  .topnav {
    float: left;
  }
  
  .topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav :hover {
    background-color: #5A609F;
  }

  .user-info {
      display: inline;
  }

  button {
    color: #5A609F;
    background-color: #FAE9D6;
    border: 2px solid #5A609F;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(90,96,159,0.2), 0 6px 20px 0 rgba(90,96,159,0.19);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}